.container {
    width: 80%;
    margin-left: 10%;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 10%;
}

.container button {
    color: white;
    border: none;
    background-color: #008b8b;
    padding: 5px;
    border-radius: 3px;
    font-size: x-small;
}

.container button:hover {
    background-color: #008b8b71;
    cursor: pointer;
}

.container h5 {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: x-small;
}

.table th {
    font-weight: bold;
    color: #369;
    border-top: 3px solid #036;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
    padding: 5px;
}

.table td {
    padding: 5px;
    border-bottom: 1px solid #999;
}

.form {
    font-size: x-small;
    margin-bottom: 10px;
    padding: 10px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-weight: bold;
}

.radioGroup {
    display: flex;
    font-size: xx-small;
    font-weight: lighter;
    text-align: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.radio {
    width: 80px;
}
