.table {
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

.table th {
    font-weight: bold;
    color: #369;
    border-bottom: 3px solid #036;
    padding: 10px;
}

.table td {
    padding: 5px;
    border-bottom: 1px solid #999;
}

.form {
    font-size: 11px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.radioGroup {
    display: flex;
    font-size: 9px;
    text-align: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.radio {
    width: 80px;
}