.container {
    width: 80%;
    margin-left: 10%;
}

.createForm {
    width: 80%;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 8px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.createForm h3 {
    font-size: medium;
    text-align: center;
}

.createForm label {
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    width: 30%;
    padding: 5px;
}

.createForm input {
    width: 50%;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: medium;
}

.createForm button {
    width: 52%;
    border: none;
    color: white;
    background-color: grey;
    padding: 5px;
    margin-top: 5px;
    margin-left: 32%;
    font-size: medium;
}

.createForm button:hover {
    background-color: rgb(80, 76, 76);
}