.container {
    width: 80%;
    margin-left: 10%;
}

.backBtn button {
    border: 1px solid;
    border-radius: 3px;
    font-size: medium;
}

.backBtn button:hover {
    cursor: pointer;
    background-color:rgba(82, 90, 90, 0.685);
}

.projectTitle {
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
}

.titleBtn button {
    border: none;
    margin-left: 5px;
    color: white;
    background-color: #aeacb3;
    padding: 5px;
    border-radius: 3px;
    font-size: medium;
}

.titleBtn button:hover {
    background-color: rgba(82, 90, 90, 0.685);
    cursor: pointer;
}

.listTitle {
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 1%;
}

.listTitle button {
    border: none;
    color: white;
    background-color: #008b8b;
    padding: 5px;
    border-radius: 3px;
    font-size: medium;
}

.listTitle button:hover {
    background-color: #008b8b71;
    cursor: pointer;
}

.table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 3px solid #036;
    border-bottom: 1px solid #036;
    font-size: medium;
}

.table th {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

.table td {
    width: 350px;
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.list {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: small;
    margin-bottom: 10%;
}

.list th {
    font-weight: bold;
    color: #369;
    border-top: 3px solid #036;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
    padding: 3px;
}

.list td {
    padding: 5px;
    border-bottom: 1px solid #999;
}

.caption {
    margin: 20px;
    text-align: center;
    font-size: medium;
}