.table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #036;
    border-bottom: 1px solid #036;
    font-size: 12px;
}

.table th {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

.table td {
    width: 350px;
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.list {
    border-collapse: collapse;
    text-align: center;
    font-size: 10px;
}

.list th {
    font-weight: bold;
    color: #369;
    border-bottom: 3px solid #036;
    padding: 10px;
}

.list td {
    padding: 5px;
    border-bottom: 1px solid #999;
}