@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.container {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    height: 80vh;
}

.container h1 {
    text-align: center;
    margin-bottom: 15px;
}

.container h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

@media screen and (max-width: 480px) {
    .wrapper img {
        display: none;
    }
}

.loginForm {
    width: 250px;
    padding: 10px;
    /* background-color: rgb(248, 248, 253); */
    /* background-color: #f2f2f2; */
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 8px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.inputArea input {
    width: 240px;
    border: none;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    padding: 5px;
    margin-bottom: 8px;
    font-size: x-small;
}

.inputArea label {
    font-size: xx-small;
}

.inputArea button {
    font-size: small;
    width: 250px;
    border: none;
    color: white;
    background-color: rgba(7, 7, 126, 0.39);
    padding: 5px;
    margin-bottom: 8px;
}

.inputArea button:hover {
    background-color: rgba(4, 4, 70, 0.664);
}

.caption {
    text-align: center;
    font-size: xx-small;
    border-top: 1px solid #999;
    padding-top: 5px;
    margin-bottom: 5px;
}

.caption div {
    margin-bottom: 5px;
}

.caption button {
    font-size: x-small;
    width: 250px;
    border: none;
    color: white;
    background-color: grey;
    padding: 5px;
    margin-bottom: 8px;
}

.caption button:hover {
    background-color: rgb(80, 76, 76);
}